/* FUENTES */
@font-face{
    font-family: 'WebSymbolsRegular';
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format(embedded-opentype),
     url(fonts/websymbols-regular-webfont.woff) format(woff),
     url(fonts/websymbols-regular-webfont.ttf) format(truetype),
     url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format(svg);
    font-weight: normal;
    font-style: normal;
}


/* BARRA DE NAVEGACION */

.navbar {
	background-color: #f5f6f7;
}

.navbar-collapse {
	align-items: center;
	justify-content: flex-end;
}

.gear{
    display: block;
	font-family: WebSymbolsRegular;
	color: #1b1b32;
    font-size: 50px;
    margin-top: 8px;
    margin-right: 10px;
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#navbar-toggler ul li a{
	font-size: 1.1rem;
	color: #1b1b32;
	font-weight: bold;
}


#navbar-toggler ul li:hover a{
	transform: scale(1.1,1.1);
}

.navbar button{
	background-color: #f5f6f7;
}



/* ESTILOS GENERALES */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2.5rem;
	font-family: 'Rubik Dirt', cursive;
}

.seccion-oscura {
	background-image: linear-gradient(
		#1b1b3270, 
		#1b1b3270
	  ),
   url(img/teclado.avif); 
   background-size: cover;
	color: white;
	background-size: cover;
	background-position: center;
}

.seccion-clara{
	color: black;
	background-image: url(img/pattern.png);
}

.seccion-titulo {
	font-size: 2rem;
	padding: 15px 0;
	font-family: 'Rubik Dirt', cursive;
	text-align: center;
}

.seccion-descripcion {
	font-size: 1.2rem;
	color: #584e4e;
	text-align: center;

}

.seccion-texto {
	font-size: 1.3rem;
	font-weight: 500;
}

.btn-info {
	font-size: 1.1rem;
	margin: 20px;
}

.texto-negro {
	color: #1b1b32;
}

.texto-blanco {
	color: white;
}




/* SECCION HERO */

.hero {
	background-color: #f5f6f7;
	min-height: 450px;
	text-align: center;
}


.hero-principal {
	padding: 3rem;
}


.hero-imagen-desarrollador {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 20px;
	animation-name: presentaImg;
	animation-duration: 1s;
	animation-timing-function: linear;
}

.hero-principal h1 {
	animation-name: presentaNombre;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.hero-principal h2 {
	font-size: 1.5rem;
	color: #615151;
	animation-name: presentaDescribe;
	animation-duration: 3s;
	animation-timing-function: linear;
}




/* SOBRE MI */

.sobre-mi {
	height: 500px;
	padding: 10px;
}

.contenedor {
	max-width: 600px;
	text-align: center;

}



/* EXPERIENCIA */

.experiencia {
	padding: 40px 40px 60px 40px;
}


.experiencia i {
	font-size: 2.5rem;
	color: #7ade30;
	background-color: #0a0a23;
	padding: 8px 19px;
	border-radius: 50%;
}

.experiencia .columna {
	padding: 20px;
	border: 2px solid #80804d;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
	color: white;
	background-color: #1b1b32;

}


.experiencia-titulo {
	font-size: 25px;
	font-weight: bold;
	margin: 10px 0;
}

.experiencia-logo {
	padding: 20px;
}

.badges-contenedor {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}


.badges {
	margin: 5px;
}



.experiencia .columna{
	background-color: #fff;
}
/* PROYECTOS */

.proyectos-recientes {
	padding: 20px;
}


.proyectos-recientes img {
	width: 90%;
	height: 250px;
	margin-top: 30px;
	margin-right: 0px;
	box-shadow: 0px 1px 0px #474c4e, 1px 2px 0px #474c4e, 2px 3px 0px #474c4e, 3px 4px 0px #474c4e, 4px 5px 0px #474c4e, 5px 6px 0px #474c4e;
	border-radius: 10px;
	transition: all 0.2s ease;
}


.proyectos-contenedor {
	padding-top: 10px;
	margin-bottom: 40px;
}

.proyectos-contenedor .proyectos-wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}


.overlay {
	transition: all 0.2s easy;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}



.overlay p {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 0;
}


.proyecto {
	position: relative;
}


.proyecto:hover img {
	opacity: 0.2;
}


.proyecto:hover .overlay {
	opacity: 1;
}

.overlay .iconos-contenedor {
	display: flex;

}

.overlay i {
	color: black;
	font-size: 60px;
	margin: 10px;
}

.apis-contenedor {
	margin-bottom: 110px;
}

.api-tarjeta i{
	font-size: 8rem;
	color:#48A41E;
	text-shadow: 1px 1px 2px black;
	animation: myAnim 1s ease 0s infinite normal forwards;
}

.cfapi img {
	height: 100%;
    width: 100%;
    padding: 4%;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}


#frame{
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-bottom: 1px solid #cccccc;
}



#frame-google{
	width: 100%;
	height: 200px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid #cccccc;
}

#frame-google > div{
	font-family: 'Rubik Dirt', cursive;
	font-size: 1.5rem;
	color: #023e8a;

}




/* CONTACTO */

.contacto .container {
	max-width: 1100px;
	min-height: 200px;
	padding: 20px;
}

.contacto .rectangulo {
	padding: 5px;
	margin-top: -5rem;
	background-color: #0d6efd;
	border-radius: 10px;
	box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
	width: 100%;
	display: flex;
	align-items: center;
}

.contacto .descripcion {
	color: white;
	font-size: 1.2rem;
}

.contacto button:hover {
	background-color: white;
	color: black;
}

.contacto button {
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: 2px solid white;
	padding: 1.25em 2em;
	margin: 10px;
	border-radius: 100px;
	transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
	color: black;
}


.contacto button i {
	color: white;
	font-size: 1.3rem;
	transition: all 0.2s ease-in-out;
}

/* FOOTER */

footer {
	min-height: 500px;
}

.contenedor-learn{
	width: 50%;
	animation-name: fromLearn;
	animation-duration: 20s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


.footer-logo {
	height: 80px;
	width: 80px;
	margin: 10px;
}

.footer-texto {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 20px;
	margin-bottom: 30px;
	font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin: 10px;
	border: 2px solid white;
	border-radius: 50%;
	transition: all 0.2s ease-in;

}

.iconos-redes-sociales i {
	color: white;
	font-size: 1.5rem;
	transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
	background-color: white;
	border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
	color: black;
}

.derechos-de-autor {
	font-size: 15px;
	color: white;
	padding: 20px;
	text-align: center;
}

.tarjeta {
	font-size: 80%;
}

.bgcolor{
	background-color: #f5f6f7d8;
}



/* ADAPTABLE (responsivo) */

@media screen and (max-width: 400px){
	.overlay p {
		font-size: 7px;
	}

	.overlay i {
		font-size: 8px;
	}

}

@media screen and (max-width: 767px) {
	.navbar-brand {
		display: none;
	}

	.navbar ul{
		background-color: #f5f6f7;
	}

	.bgcolor{
		background-color: #f5f6f794;
	}
	
	.seccion-texto {
		font-size: 1rem;
	}

	.footer-texto{
		font-size: 0.8rem;
	}

	.contenedor-learn{
		animation-duration: 10s;
	}	

	.proyectos-recientes img {
		width: 100%;
		height: 200px;
	}


}


@media screen and (min-width: 700px) {
	img.hero-imagen.img-fluid {
    	max-width: 600px;
	}

}

@keyframes rotate-gear{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes fromLearn{
	0%{
		transform: translate(-40%);
	}
	50%{
		transform: translate(40%);
	}
	100%{
		transform: translate(-40%);
	}
}

@keyframes presentaImg {
	from{
		transform: translateX(-300%);
	}
	to{
		transform: translateX(0%);
	}
}

@keyframes presentaNombre {
	from{
		transform: translateX(300%);
	}
	to{
		transform: translateX(0%);
	}
}

@keyframes presentaDescribe {
	from{
		transform: translateX(-300%);
	}
	to{
		transform: translateX(0%);
	}
}


@keyframes myAnim {
	0% {
		text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
		font-size: 7rem;
	}

	100% {
		text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.20);
		font-size: 8rem;
	}
}

@keyframes myAnimacion {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.1);
	}
}